<footer th:fragment="footer">
    <div class="footer-top bg-dark inner-gap">
        <div class="container">
            <div class="row gy-4 gy-lg-3">
                <div class="col-md-12 col-lg-4">
                    <div class="footer-disc">
                        <a href="home" class="footer-logo">
                            <img src="/user/images/sample/logo-white.svg" id="footerLogo" class="fThemeLogo img-fluid"
                                 alt="logo">
                        </a>
                        <p>BidOn의 경매를 통해 보물을 찾아보세요! 희귀한 발견과 매혹적인 경험이 당신을 기다리고 있습니다.</p>
                        <a href="mailto:info@bidzone.com" class="h4 fw-normal text-white">support@sist.co.kr</a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-2">
                    <div class="footer-widget">
                        <h5 class="widget-title">사이트맵</h5>
                        <ul class="ps-3 widget-links">
                            <li>
                                <a href="blog">블로그</a>
                            </li>
                            <li>
                                <a href="faq">FAQ</a>
                            </li>
                            <li>
                                <a href="about">사이트 소개</a>
                            </li>
                            <li>
                                <a href="contact">문의하기</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-2">
                    <div class="footer-widget">
                        <h5 class="widget-title">물품 분류</h5>
                        <ul class="ps-3 widget-links">
                            <li>
                                <a href="browse-bid">전자제품</a>
                            </li>
                            <li>
                                <a href="browse-bid">스포츠</a>
                            </li>
                            <li>
                                <a href="browse-bid">패션</a>
                            </li>
                            <li>
                                <a href="browse-bid">예술</a>
                            </li>
                            <li>
                                <a href="browse-bid">자동차</a>
                            </li>
                            <li>
                                <a href="browse-bid">미용</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-2">
                    <div class="footer-widget">
                        <h5 class="widget-title">탐색</h5>
                        <ul class="ps-3 widget-links">

                            <li>
                                <a href="signup">내 정보</a>
                            </li>
                            <li>
                                <a href="bid-history">지난 경매 기록</a>
                            </li>
                            <li>
                                <a href="checkout">결제</a>
                            </li>
                            <li>
                                <a href="payment">결제 수단 관리</a>
                            </li>
                            <li>
                                <a href="winner">(생각나면 추가)</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-2">
                    <div class="footer-widget">
                        <h5 class="widget-title">법적 고지</h5>
                        <ul class="ps-3 widget-links">
                            <li>
                                <a href="privacy">개인정보 처리방침</a>
                            </li>
                            <li>
                                <a href="cookies-policy">쿠키 정책</a>
                            </li>
                            <li>
                                <a href="term-condition">이용 약관</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr class="my-4 my-lg-5 border-white">
            <div
                    class="d-flex flex-wrap gap-4 justify-content-center justify-content-xl-between align-items-center">
                <ul class="footer-social-links">
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa-brands fa-pinterest-p"></i>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>
                </ul>
                <div class="bid-number">
                    <h2><span>555,550</span> Bids</h2>
                    <h2><span>10,597</span> Members</h2>
                    <h2><span>1,333</span> Feedbacks</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom py-2 py-md-4 bg-light">
        <p class="text-dark text-center">©
            <script>document.write(new Date().getFullYear());</script>
            BidZone - All Rights Reserved.
        </p>
    </div>
</footer>

