<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- head 내용 -->
</head>
<body>
<th:block th:fragment="header">
    <th:block th:insert="~{user/inc/preloader.html :: preloader}"></th:block>

    <a href="/javascript:void(0)" class="back-to-top"><i class="fa-solid fa-up-long"></i></a>

    <div class="navbar-top border-bottom py-3 d-none d-lg-block">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-4">
                    <div class="d-flex gap-2">
                        <div class="country">
                            <select name="country" class="form-control" id="country">
                                <option value="KR">
                                    KR
                                </option>
                                <option value="US">
                                    US
                                </option>
                                <option value="JP">
                                    JP
                                </option>
                            </select>
                        </div>
                        <div class="currency">
                            <select name="currency" class="form-control" id="currency">
                                <option value="KRW">
                                    KRW
                                </option>
                                <option value="USD">
                                    USD
                                </option>
                                <option value="JPY">
                                    JPY
                                </option>
                            </select>
                        </div>
                        <div class="d-none align-items-center gap-1 nav-top-left">
                            <i class="fa-solid fa-envelope text-dark"></i>
                            <p class="fs-14 text-dark text-truncate">support@example.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="toggle-theme">
                        <input type="checkbox" id="changeTheme1" class="changeTheme" value="0">
                        <label for="changeTheme1" class="m-auto"></label>
                    </div>
                </div>
				<div class="col-4">
					<div class="d-flex gap-2 nav-btn-group align-items-center justify-content-end">
				   		<a href="/browse-bid.html" class="bg-transparent text-dark border-0 px-1">
				        	<i class="fa-solid fa-search"></i>
				       	</a>
				      	<a href="/mypage" class="bg-transparent text-dark border-0 px-1">
				 			<i class="fa-solid fa-user"></i>
				  		</a>
						<button class="bg-transparent text-dark border-0"><i class="fa-solid fa-heart"></i></button>
				 	</div>
				</div>
            </div>
        </div>
    </div>

    <header class="bg-white">
        <nav class="navbar navbar-expand-lg py-3">
            <div class="container">
                <a class="navbar-brand p-0" href="/home">
                    <!-- <img src="/user/images/sample/logo.svg" id="headerLogo" class="themeLogo img-fluid w-100" alt="logo"> -->
                    <img src="/user/images/sample/logo.png" class="themeLogo img-fluid w-100">
                </a>
                <div class="nav-right justify-content-center" id="navbar">
                    <ul class="navbar-nav position-relative d-none d-lg-flex">
                        <li class="nav-item">
                            <a class="nav-link text-dark active" href="/home">홈</a>
                        </li>
                        <li class="nav-item dropdown-tgl">
                            <a class="nav-link text-dark" href="javascript:void(0)">경매</a>
                            <ul class="sub-menu">
                                <li><a href="/browse-bid/electro">전자제품</a></li>
                                <li><a href="/bid-detail">스포츠</a></li>
                                <li><a href="/bid-detail">패션</a></li>
                                <li><a href="/bid-history">예술</a></li>
                                <li><a href="/bid-history">자동차</a></li>
                                <li><a href="/bid-history">미용</a></li>
                            </ul>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link text-dark" href="/live-auction/list">실시간 경매</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link text-dark" href="/auction/bid-registration">경매상품 등록</a>
                        </li>
                        
                        
                        <li class="nav-item dropdown-tgl">
                            <a class="nav-link text-dark" href="javascript:void(0)">게시판</a>
                            <ul class="sub-menu">
                                <li><a href="/about">소개</a></li>
                                <li><a href="/blog">후기게시판</a></li>
                                <li><a href="/faq">자주 묻는 질문</a></li>
                                <li><a href="/privacy">기타 약관</a></li>
                            </ul>
                        </li>
						<li class="nav-item">
						    <a class="nav-link text-dark" sec:authorize="hasRole('ROLE_ADMIN')" href="/admin">관리자 페이지</a>
						</li>
                    </ul>
                    <ul class="navbar-nav d-block d-lg-none">
                        <li class="nav-item">
                            <a class="nav-link text-dark active" href="/home">홈</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark" href="javascript:void(0)">경매</a>
                            <ul class="sub-menu">
                                <li><a href="browse-bid">전자제품</a></li>
                                <li><a href="bid-detail">스포츠</a></li>
                                <li><a href="bid-detail">패션</a></li>
                                <li><a href="bid-history">예술</a></li>
                                <li><a href="bid-history">자동차</a></li>
                                <li><a href="bid-history">미용</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/live-auction/list">실시간 경매</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link text-dark" href="/auction/bid-registration">경매상품 등록</a>
                        </li>
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark" href="/javascript:void(0)">게시판</a>
                            <ul class="sub-menu">
                                <li><a href="/about">소개</a></li>
                                <li><a href="/blog">후기게시판</a></li>
                                <li><a href="/faq">자주 묻는 질문</a></li>
                                <li><a href="/privacy">기타 약관</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/mypage">My Page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/admin">Admin Page</a>
                        </li>
                        <li>
                            <hr>
                        </li>
                        <li class="nav-item">
                            <div class="d-flex justify-content-center gap-2">
                                <div class="select">
                                    <button class="selectBtn" data-type="country">country</button>
                                    <div class="selectDropdown">
                                        <div class="option" data-type="KR">KR</div>
                                        <div class="option" data-type="US">US</div>
                                        <div class="option" data-type="JP">JP</div>
                                    </div>
                                </div>
                                <div class="select">
                                    <button class="selectBtn" data-type="currency">currency</button>
                                    <div class="selectDropdown">
                                        <div class="option" data-type="KRW">KRW</div>
                                        <div class="option" data-type="USD">USD</div>
                                        <div class="option" data-type="JPY">JPY</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <hr>
                        </li>
                        <li class="nav-item">
                            <div class="d-flex gap-2 nav-btn-group align-items-center justify-content-center">
                                <button class="bg-transparent text-dark border-0">
                                    <i class="fa-solid fa-search"></i>
                                </button>
                                <a href="/login" class="bg-transparent text-dark border-0 px-1">
                                    <i class="fa-solid fa-user"></i>
                                </a>
                                <button class="bg-transparent text-dark border-0"><i
                                        class="fa-solid fa-heart"></i></button>
                            </div>
                        </li>
                        <li>
                            <hr>
                        </li>
                        <li class="nav-item">
                            <div class="toggle-theme">
                                <input type="checkbox" class="changeTheme" id="changeTheme" value="0">
                                <label for="changeTheme" class="me-auto"></label>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="d-flex gap-1 nav-btn-group align-items-center">
                    <!--  FOR TEST  -->
                    <th:block sec:authorize="!isAuthenticated()">
                        <button id="test-login-9" type="submit" class="primary-btn">
                            id:9
                        </button>

                        <button id="test-login-10" type="submit" class="primary-btn">
                            id:10
                        </button>

                        <button id="test-login-11" type="submit" class="primary-btn">
                            id:11
                        </button>

                        <button id="test-login-12" type="submit" class="primary-btn">
                            id:12
                        </button>
                    </th:block>

                    <a sec:authorize="!isAuthenticated()" href="/login" class="primary-btn">    <!-- 우진아 건들지마 -->
                        로그인
                    </a>
                    <a sec:authorize="isAuthenticated()" href="/logout" class="primary-btn">
                        로그아웃
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="nav-right" data-bs-target="#navbar"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="toggle-menu-icon"><span></span><span></span><span></span><span></span></span>
                    </button>
                </div>
            </div>
        </nav>
    </header>
    <!--  FOR TEST  -->
    <script src="/user/js/common/jquery.min.js"></script>
    <script>
        $('#test-login-9').click(
            (e) => testLogin(e, '6600baby@gmail.com')
        );
        $('#test-login-10').click(
            (e) => testLogin(e, 'kim123@gmail.com')
        );
        $('#test-login-11').click(
            (e) => testLogin(e, 'lee456@gmail.com')
        );
        $('#test-login-12').click(
            (e) => testLogin(e, 'park789@gmail.com')
        );

        function testLogin(e, username) {
            e.preventDefault();

            const data = new FormData();
            data.append('username', username);
            data.append('password', '1111');

            $.ajax({
                url: '/loginok',
                type: 'POST',
                data,
                processData: false,
                contentType: false,
                success: function () {
                    location.reload();
                },
                error: function (xhr) {
                    if (xhr.responseJSON && xhr.responseJSON.message) {
                        alert(xhr.responseJSON.message);
                    } else {
                        alert('로그인에 실패했습니다.');
                    }
                }
            });
        }
    </script>
</th:block>
</body>
</html>