<th:block th:fragment="scripts">
    <th:block th:if="${util} or ${all}">
        <script src="/user/js/common/util.js"></script>
    </th:block>

    <th:block th:if="${jquery} or ${all}">
        <script src="/user/js/common/jquery.min.js"></script>
    </th:block>

    <th:block th:if="${bootstrap} or ${all}">
        <script src="/user/js/common/bootstrap.bundle.min.js"></script>
    </th:block>

    <th:block th:if="${swiper} or ${all}">
        <script src="/user/js/common/swiper.min.js"></script>
    </th:block>

    <th:block th:if="${custom} or ${all}">
        <script src="/user/js/common/custom.js"></script>
    </th:block>

    <th:block th:if="${dayjs} or ${all}">
        <script src="/common/js/dayjs.min.js"></script>
        <script src="/common/js/dayjs-istoday.min.js"></script>
        <script src="/common/js/dayjs-isyesterday.min.js"></script>
        <script src="/common/js/dayjs-relativetime.min.js"></script>
        <script>dayjs.extend(window.dayjs_plugin_isToday);</script>
        <script>dayjs.extend(window.dayjs_plugin_isYesterday);</script>
        <script>dayjs.extend(window.dayjs_plugin_relativeTime);</script>
    </th:block>

</th:block>