<!DOCTYPE html>
<html lang="en" id="theme" class="light"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
    <th:block th:insert="~{user/inc/head.html :: head(title='Page Not Found')}"></th:block>
</head>

<body>
<th:block th:insert="~{user/inc/preloader.html :: preloader}"></th:block>

<div class="toggle-theme d-none">
    <input type="checkbox" class="changeTheme" id="changeTheme">
    <label for="changeTheme" class="m-auto"></label>
</div>

<div class="vh-100 d-flex justify-content-center align-items-center text-center">
    <div class="error-wrapper-content">
        <img src="/user/images/sample/404.svg" alt="error-img">
        <h3>Page not found</h3>
        <span class="d-block mb-4">Let's redirect you to our homepage and start the bidding adventure anew.</span>
        <a href="home" class="primary-btn light-btn d-inline-block border-dark">Back to HOME</a>
    </div>
</div>

<th:block th:insert="~{user/inc/scripts.html :: scripts(jquery=true, custom=true)}"></th:block>
</body>

</html>