<!DOCTYPE html>
<html lang="en" id="theme" class="light"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
    <th:block th:insert="~{user/inc/head.html :: head(title='About Us')}"></th:block>
    <link rel="stylesheet" href="/css/home.css" type="text/css">
</head>

<body>
<th:block th:insert="~{user/inc/header.html :: header}"></th:block>

<main id="main-content" class="position-relative">
    <div class="breadcrumb-main">
        <div class="container">
            <div class="d-flex flex-column flex-md-row align-items-center justify-content-between">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="home">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">소개</li>
                </ol>
                <h1 class="breadcrumb-title">Bid-On 소개</h1>
            </div>
        </div>
    </div>
    <section class="outer-gap">
        <div class="container">
            <div class="row gy-4 align-items-center justify-content-between">
                <div class="col-lg-6">
                    <h2 class="mb-3 fw-bold">꿈의 아이템, 지금 바로 손에 넣으세요!</h2>
                    <p class="mb-3 mb-md-4">가장 특별한 경매를 통해 당신만의 보물을 찾아보세요. 간단한 참여로 상상도 못 했던 기회가 당신의 것이 됩니다. 
한정된 시간, 놓치면 후회할 단 하나의 찬스! 지금 바로 도전하고 꿈의 리스트를 완성하세요.</p>
					<p>수많은 회원들이 이미 경매의 즐거움을 경험하고 있습니다. 집에서도, 이동 중에도 간편하게 참여 가능한 경매 플랫폼! 다양한 상품, 합리적인 가격, 그리고 손에 땀을 쥐게 하는 실시간 경매의 재미까지 누려보세요. 
지금 바로 회원가입하고 특별한 보너스 혜택도 받아가세요!</p>
					<hr>
					<button class="primary-btn" onclick="location.href='http://localhost:8090/browse-live-bid'">실시간 경매 참여하기</button>
                </div>
                <div class="col-lg-5 text-lg-center">
                    <img src="/user/images/items1.png" class="img-fluid w-100" alt="about-img">
                </div>
            </div>
        </div>
    </section>
    <section class="outer-gap">
        <div class="container">
            <div class="row gy-4 justify-content-between">
                <div class="col-lg-6">
                    <h2 class="mb-3 fw-bold">당신의 새로운 경매 경험을 만나보세요!</h2>
                    <p class="mb-3">최첨단 경매 시스템으로 빠르고 간편하게 원하는 아이템을 경매하세요. 사용자 친화적인 인터페이스와 실시간 업데이트로 최고의 경매 경험을 제공합니다. 지금 바로 시작해보세요. 
당신의 열정을 실현할 경매가 기다리고 있습니다!</p>
                    <img src="/user/images/aboutitems2.png" class="img-fluid" alt="about-img">
                </div>
                <div class="col-lg-5">
                    <div class="features-card">
                        <div class="feature-img">
                            <img src="/user/images/sample/auction-icon.png" alt="auction-img">
                        </div>
                        <div>
                            <h5><b>실시간 경매</b></h5>
                            <p>지금 이 순간, 원하는 아이템을 경매하세요! 
실시간으로 진행되는 경매로 흥미진진한 경험을 즐기세요.</p>
                        </div>
                    </div>
                    <div class="features-card">
                        <div class="feature-img">
                            <img src="/user/images/sample/currency-icon.png" alt="Currency-img">
                        </div>
                        <div>
                            <h5><b>다양한 결제 옵션 지원</b></h5>
                            <p>여러 결제 옵션으로 편리하게 참여하세요. 
여러분에게 딱 맞는 방식으로 경매를 즐길 수 있습니다.</p>
                        </div>
                    </div>
                    <div class="features-card">
                        <div class="feature-img">
                            <img src="/user/images/sample/winner-icon.png" alt="winner-img">
                        </div>
                        <div>
                            <h5><b>우승자 발표</b></h5>
                            <p>다양한 통화로 쉽게 거래하세요. 
전 세계 어디서든 접근 가능한 유연한 경매 환경을 제공합니다.</p>
                        </div>
                    </div>
                    <div class="features-card">
                        <div class="feature-img">
                            <img src="/user/images/sample/supports-icon.png" alt="supports-img">
                        </div>
                        <div>
                            <h5><b>24시간 7일 지원</b></h5>
                            <p>언제나 열려 있는 경매 시스템! 필요할 때마다 24시간 내내 지원받으세요.</p>
                        </div>
                    </div>
                    <div class="features-card">
                        <div class="feature-img">
                            <img src="/user/images/sample/history-icon.png" alt="history-img">
                        </div>
                        <div>
                            <h5><b>입찰 기록 확인</b></h5>
                            <p>모든 입찰 내역을 확인하고 전략적으로 경매에 참여하세요. 
과거 내역이 성공의 열쇠입니다.</p>
                        </div>
                    </div>
                    <div class="features-card">
                        <div class="feature-img">
                            <img src="/user/images/sample/watchlist-icon.png" alt="watchlist-img">
                        </div>
                        <div>
                            <h5><b>위시리스트 추가</b></h5>
                            <p>마음에 드는 아이템을 관심 목록에 추가하고 놓치지 마세요. 
언제든지 다시 확인할 수 있습니다.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="outer-gap">
        <div class="container">
            <div class="row gy-4">
                <div class="col-md-6 col-lg-4">
                    <div class="pawning-card">
                        <img src="/user/images/auctiononline.jpg" alt="pawning-img">
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="pawning-card">
                        <img src="/user/images/aboutbid.jpg" class="h-auto" alt="pawning-img">
                        <div class="pawning-content">
                            <h3><b>흥미로운 경매 물품 함께</b></h3>
                            <p>경매의 흥미와 열정을 더해줄 최고의 제품과 함께하세요. 여러분의 특별한 순간을 만들어드립니다!</p>
							<button class="primary-btn" onclick="location.href='http://localhost:8090/browse-bid'">경매 페이지 이동하기</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="pawning-card">
                        <img src="/user/images/aboutauction.jpg" alt="pawning-img">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="outer-gap">
        <div class="container">
            <div class="inner-gap position-relative testimonial-wrapper">
                <svg xmlns="http://www.w3.org/2000/svg" width="158" height="130" viewBox="0 0 158 130" fill="none">
                    <path
                            d="M0 70.6629L32.9924 0H64.7538L43.8257 65H64.7538V130H0V70.6629ZM92.822 70.6629L125.814 0H157.576L136.648 65H157.576V130H92.5757V70.6629H92.822Z"
                            fill="#FF5336"/>
                </svg>
                <div class="row align-items-center gy-4">
                    <div class="col-xl-3">
                        <h3 class="mb-2"><b>베스트 리뷰</b></h3>
                        <p>전 세계를 대표하는 경매 마켓플레이스에서 수많은 고객들이 신뢰하는 서비스를 경험하세요. 
당신의 만족과 성공을 함께 이루어나가는 여정에 동참하고 싶습니다.</p>
                    </div>
                    <div class="col-xl-9">
                        <div class="swiper testimonialSwiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="testimonial-card">
                                        <p class="mb-3">처음에는 경매에 대해 잘 몰랐지만 이 사이트 덕분에 쉽게 입찰하고 제품을 좋은 가격에 구매할 수 있었어요. 
특히 실시간 경매 시스템이 정말 흥미진진합니다!</p>
                                        <div
                                                class="d-flex flex-column-reverse flex-sm-row justify-content-between align-items-sm-center gap-2">
                                            <div class="d-flex align-items-center gap-3">
                                                <img src="/user/images/sample/profile1.png"
                                                     class="testimonial-avatar" alt="avatar">
                                                <div>
                                                    <h6><b>정관우</b></h6>
                                                    <span>회원</span>
                                                </div>
                                            </div>
                                            <ul class="d-flex gap-1 rating-star">
                                                <li>
                                                    <i class="fa-solid fa-star text-orange"></i>
                                                </li>
                                                <li>
                                                    <i class="fa-solid fa-star text-orange"></i>
                                                </li>
                                                <li>
                                                    <i class="fa-solid fa-star text-orange"></i>
                                                </li>
                                                <li>
                                                    <i class="fa-solid fa-star text-orange"></i>
                                                </li>
                                                <li>
                                                    <i class="fa-solid fa-star text-orange"></i>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonial-card">
                                        <p class="mb-3">간단한 가입 절차와 직관적인 UI 덕분에 누구나 쉽게 경매를 즐길 수 있어요. 
원하는 아이템을 놓치지 않도록 알림 기능도 유용합니다. 정말 추천합니다!</p>
                                        <div
                                                class="d-flex flex-column-reverse flex-sm-row justify-content-between align-items-sm-center gap-2">
                                            <div class="d-flex align-items-center gap-3">
                                                <img src="/user/images/sample/profile2.png"
                                                     class="testimonial-avatar" alt="avatar">
                                                <div>
                                                    <h6><b>이우진</b></h6>
                                                    <span>회원</span>
                                                </div>
                                            </div>
                                            <ul class="d-flex gap-1 rating-star">
                                                <li>
                                                    <i class="fa-solid fa-star text-orange"></i>
                                                </li>
                                                <li>
                                                    <i class="fa-solid fa-star text-orange"></i>
                                                </li>
                                                <li>
                                                    <i class="fa-solid fa-star text-orange"></i>
                                                </li>
                                                <li>
                                                    <i class="fa-solid fa-star text-orange"></i>
                                                </li>
                                                <li>
                                                    <i class="fa-solid fa-star text-orange"></i>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonial-card">
                                        <p class="mb-3">이 사이트는 신뢰도 높은 제품과 공정한 경매 시스템으로 정말 믿고 사용할 수 있는 플랫폼이에요. 
다양한 결제 옵션 덕분에 거래도 편리하답니다.</p>
                                        <div
                                                class="d-flex flex-column-reverse flex-sm-row justify-content-between align-items-sm-center gap-2">
                                            <div class="d-flex align-items-center gap-3">
                                                <img src="/user/images/sample/profile3.png"
                                                     class="testimonial-avatar" alt="avatar">
                                                <div>
                                                    <h6><b>김유리</b></h6>
                                                    <span>회원</span>
                                                </div>
                                            </div>
                                            <ul class="d-flex gap-1 rating-star">
                                                <li>
                                                    <i class="fa-solid fa-star text-orange"></i>
                                                </li>
                                                <li>
                                                    <i class="fa-solid fa-star text-orange"></i>
                                                </li>
                                                <li>
                                                    <i class="fa-solid fa-star text-orange"></i>
                                                </li>
                                                <li>
                                                    <i class="fa-solid fa-star text-orange"></i>
                                                </li>
                                                <li>
                                                    <i class="fa-solid fa-star text-orange"></i>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonial-card">
                                        <p class="mb-3">처음에는 재미 삼아 시작했는데, 지금은 제가 자주 찾는 사이트가 되었어요. 
흥미진진한 경매 과정과 빠른 결과 발표 덕분에 매번 만족스러운 경험을 하고 있어요!</p>
                                        <div
                                                class="d-flex flex-column-reverse flex-sm-row justify-content-between align-items-sm-center gap-2">
                                            <div class="d-flex align-items-center gap-3">
                                                <img src="/user/images/sample/profile4.png"
                                                     class="testimonial-avatar" alt="avatar">
                                                <div>
                                                    <h6><b>최종민</b></h6>
                                                    <span>회원</span>
                                                </div>
                                            </div>
                                            <ul class="d-flex gap-1 rating-star">
                                                <li>
                                                    <i class="fa-solid fa-star text-orange"></i>
                                                </li>
                                                <li>
                                                    <i class="fa-solid fa-star text-orange"></i>
                                                </li>
                                                <li>
                                                    <i class="fa-solid fa-star text-orange"></i>
                                                </li>
                                                <li>
                                                    <i class="fa-solid fa-star text-orange"></i>
                                                </li>
                                                <li>
                                                    <i class="fa-solid fa-star text-orange"></i>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<th:block th:insert="~{user/inc/footer.html :: footer}"></th:block>
<th:block th:insert="~{user/inc/scripts.html :: scripts(all=true)}"></th:block>
<script src="/user/js/about.js"></script>
</body>

</html>