<!DOCTYPE html>
<html lang="en" id="theme" class="light"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<head>
    <th:block th:insert="~{user/inc/head.html :: head(title='Bid Detail')}"></th:block>
    <style>
    	.col-lg-8 {
    position: relative;
    text-align: center;
    overflow: hidden;
}

.card-image-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.dcard-image {
    flex: 0 0 100%;
    display: none; /* 기본적으로 숨김 처리 */
    transition: opacity 0.5s ease;

}

.dcard-image.active {
    display: block; /* 활성화된 이미지만 보이도록 설정 */
}

.dcard-image img {
   width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.timer-wrapper {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
}

.left-btn {
    left: 10px;
}

.right-btn {
    right: 10px;
}

    </style>
</head>

<body>
<th:block th:insert="~{/user/inc/header.html :: header}"></th:block>

<main id="main-content" class="position-relative">
    <div class="breadcrumb-main">
        <div class="container">
            <div class="d-flex flex-column flex-md-row align-items-center justify-content-between">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="home">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">실시간 경매물품 상세보기</li>
                </ol>
                <h1 class="breadcrumb-title">경매정보 & 상세보기</h1>
            </div>
        </div>
    </div>
    <section class="single-bid-product outer-gap">
        <div class="container">
            <div class="row gy-4 gy-md-5">
                <div class="col-lg-8">
				    <button class="btn left-btn" onclick="showPreviousImage()">⬅</button>
				    <div class="card-image-container">
				        <div th:each="image, iterStat : ${images}"
				             class="dcard-image card-image"
				             th:classappend="${iterStat.index == 0} ? 'active' : ''">
				             <img th:src="${image.imagePath}"
         							th:alt="${image.isMainImage}">
				        </div>
				        <div class="timer-wrapper">
				            <div class="timer-inner"></div>
				        </div>
				    </div>
				    <button class="btn right-btn" onclick="showNextImage()">➡</button>
				</div>
                <div class="col-lg-4">
                    <div class="product-bid-widget h-100">
                        <h3 class="title" th:text="${detail.productName}">

                        </h3>
                        <ul>
                            <li><span>국가</span><span th:text="${detail.sellerNational}"></span></li>
                            <li><span>시작 경매가</span><span th:text="${detail.startPrice}"></span></li>
                            <li><span>최신 경매가</span><span th:text="${detail.lastBidPrice}"></span></li>
                            <li><span>입찰 횟수</span><span th:text="${detail.participantCount}"></span></li>
                            <li><span>최소 입찰 단위</span><span>10,000원</span></li>
                        </ul>
                        <a id="live-enter-btn" class="primary-btn d-flex justify-content-center">실시간 경매방 입장</a>

                    </div>
                </div>
                <div class="col-12">
                    <div class="product-detail-wrapper">
                        <ul class="nav nav-tabs d-none d-md-flex" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                        data-bs-target="#home-tab-pane" type="button" role="tab"
                                        aria-controls="home-tab-pane" aria-selected="true">제품 정보
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="profile-tab" data-bs-toggle="tab"
                                        data-bs-target="#profile-tab-pane" type="button" role="tab"
                                        aria-controls="profile-tab-pane" aria-selected="false">상세 정보
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="contact-tab" data-bs-toggle="tab"
                                        data-bs-target="#contact-tab-pane" type="button" role="tab"
                                        aria-controls="contact-tab-pane" aria-selected="false">판매자 정보
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="return-policy-tab" data-bs-toggle="tab"
                                        data-bs-target="#return-policy-tab-pane" type="button" role="tab"
                                        aria-controls="return-policy-tab-pane" aria-selected="false">이용 약관
                                </button>
                            </li>
                        </ul>
                        <div class="tab-content accordion" id="myTabContent">
                            <div class="tab-pane fade show active accordion-item" id="home-tab-pane" role="tabpanel"
                                 aria-labelledby="home-tab" tabindex="0">

                                <h2 class="accordion-header d-md-none" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne" aria-expanded="true"
                                            aria-controls="collapseOne">제품 정보
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show  d-md-block"
                                     aria-labelledby="headingOne" data-bs-parent="#myTabContent">
                                    <div class="accordion-body">
                                        <div class="d-flex flex-wrap product-disc-stats">
                                            <div class="p-2 p-sm-3 border border-opacity-10 flex-grow-1">
                                                <h5 class="mb-1">수량</h5>
                                                <p>1 item</p>
                                            </div>
                                            <div class="p-2 p-sm-3 border border-opacity-10 flex-grow-1">
                                                <h5 class="mb-1">참여자 수</h5>
                                                <p th:text="${detail.participantCount}"></p>
                                            </div>
                                            <div class="p-2 p-sm-3 border border-opacity-10 flex-grow-1">
                                                <h5 class="mb-1">브랜드</h5>
                                                <p th:text="${detail.brand}"></p>
                                            </div>
                                            <div class="p-2 p-sm-3 border border-opacity-10 flex-grow-1">
                                                <h5 class="mb-1">상품 등록 일자</h5>
                                                <p th:text="${detail.createTime}"></p>
                                            </div>
                                        </div>
                                        <h4 class="mb-3" th:text="${detail.productName}">
                                        </h4>
                                        <p class="mb-2" th:text="${detail.description}"></p>

                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade accordion-item" id="profile-tab-pane" role="tabpanel"
                                 aria-labelledby="profile-tab" tabindex="0">
                                <h2 class="accordion-header d-md-none" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                            aria-expanded="false" aria-controls="collapseTwo">
                                        상세 정보
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse d-md-block"
                                     aria-labelledby="headingTwo" data-bs-parent="#myTabContent">
                                    <div class="accordion-body">
                                        <div class="table-responsive">
                                            <table class="table bid-history m-0">
                                                <thead>
                                                <tr>
                                                    <th scope="col">입찰자</th>
                                                    <th scope="col">국적</th>
                                                    <th scope="col">입찰가격</th>
                                                    <th scope="col">입찰시간</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="bidCustomer : ${cutomer}">
                                                    <td>
                                                        <div class="d-flex align-items-center gap-2">
                                                            <img src="/user/images/sample/avatar-5.png"
                                                                 class="dashboard-avatar" alt="avatar">
                                                            <p th:text="${bidCustomer.customerName}"></p>
                                                        </div>
                                                    </td>
                                                    <td th:text="${bidCustomer.customerNational}"></td>
                                                    <td th:text="${bidCustomer.bidPrice}"></td>
                                                    <td th:text="${bidCustomer.bidTime}"></td>
                                                </tr>
                                                
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade accordion-item" id="contact-tab-pane" role="tabpanel"
                                 aria-labelledby="contact-tab" tabindex="0">
                                <h2 class="accordion-header d-md-none" id="headingThree">
                                    <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                            aria-expanded="false" aria-controls="collapseThree">
                                        판매자 정보
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse d-md-block"
                                     aria-labelledby="headingThree" data-bs-parent="#myTabContent">
                                    <div class="accordion-body">
                                        <table class="table seller-info">
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <h6>이름</h6>
                                                    <p th:text="${detail.sellerName}"></p>
                                                </td>
                                                <td>
                                                    <h6>판매 횟수</h6>
                                                    <p>60</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <h6>가입일자</h6>
                                                    <p th:text="${detail.sellerJoinDate}"></p>
                                                </td>
                                                <td>
                                                    <h6>국적</h6>
                                                    <p th:text="${detail.sellerNational}"></p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <h6>Email</h6>
                                                    <p th:text="${detail.sellerEmail}"></p>
                                                </td>
                                                <td>
                                                    <h6>연락처</h6>
                                                    <p th:text="${detail.sellerTel}"></p>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade accordion-item" id="return-policy-tab-pane" role="tabpanel"
                                 aria-labelledby="contact-tab" tabindex="0">
                                <h2 class="accordion-header d-md-none" id="headingFour">
                                    <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                            aria-expanded="false" aria-controls="collapseFour">
                                        이용 약관
                                    </button>
                                </h2>
                                <div id="collapseFour" class="accordion-collapse collapse d-md-block"
                                     aria-labelledby="headingFour" data-bs-parent="#myTabContent">
                                    <div class="accordion-body">
                                        <h4 class="mb-3">Hassle-free and easy return</h4>
                                        <p class="mb-2">Id diam maecenas ultricies mi eget mauris pharetra. Tellus
                                            id interdum velit laoreet id donec ultrices. Neque laoreet suspendisse
                                            interdum consectetur libero id. Sagittis id consectetur purus ut
                                            faucibus pulvinar. Aliquam nulla facilisi cras fermentum odio eu feugiat
                                            pretium nibh. Lorem ipsum dolor sit amet consectetur adipiscing. Elit
                                            sed vulputate mi sit. In aliquam sem fringilla ut. Ac tortor dignissim
                                            convallis aenean et tortor at risus. Vel eros donec ac odio tempor.</p>
                                        <p>Purus gravida quis blandit turpis cursus in hac. Amet commodo nulla
                                            facilisi nullam vehicula ipsum a arcu cursus. Mattis nunc sed blandit
                                            libero volutpat. Vitae suscipit tellus mauris a diam maecenas. Rhoncus
                                            mattis rhoncus urna neque viverra justo nec. Magna ac placerat
                                            vestibulum lectus mauris ultrices eros. Tempus imperdiet nulla malesuada
                                            pellentesque elit. Viverra adipiscing at in tellus integer feugiat.
                                            Turpis egestas sed tempus urna et pharetra. Nam aliquam sem et tortor.
                                            Tempus quam pellentesque nec nam.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="outer-gap auction-card-small">
        <div class="container">
            <h2 class="section-title">실시간 경매 물품</h2>
            <div class="swiper product-swiper px-0">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="auction-card">
                            <div class="card-image">
                                <img src="/user/images/sample/recent-auction-1.png" alt="auction-card-img">
                                <div class="timer-wrapper">
                                    <div class="timer-inner"></div>
                                </div>
                            </div>
                            <div class="card-content">
                                <a href="/bid-detail" class="card-title">Mendinib top violin from best
                                    artist</a>
                                <div class="d-flex justify-content-between align-items-center">
                                    <p class="p-0">Current bid <span>589.00$</span></p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="auction-card">
                            <div class="card-image">
                                <img src="/user/images/sample/recent-auction-2.png" alt="auction-card-img">
                                <div class="timer-wrapper">
                                    <div class="timer-inner"></div>
                                </div>
                            </div>
                            <div class="card-content">
                                <a href="/bid-detail" class="card-title">An antique vintage landline
                                    telephone</a>
                                <div class="d-flex justify-content-between align-items-center">
                                    <p class="p-0">Current bid <span>589.00$</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="auction-card">
                            <div class="card-image">
                                <img src="/user/images/sample/recent-auction-3.png" alt="auction-card-img">
                                <div class="timer-wrapper">
                                    <div class="timer-inner"></div>
                                </div>
                            </div>
                            <div class="card-content">
                                <a href="/bid-detail" class="card-title">Old baseball bat with ball and
                                    weathered glove</a>
                                <div class="d-flex justify-content-between align-items-center">
                                    <p class="p-0">Current bid <span>589.00$</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="auction-card">
                            <div class="card-image">
                                <img src="/user/images/sample/recent-auction-4.png" alt="auction-card-img">
                                <div class="timer-wrapper">
                                    <div class="timer-inner"></div>
                                </div>
                            </div>
                            <div class="card-content">
                                <a href="/bid-detail" class="card-title">Heritage french style home</a>
                                <div class="d-flex justify-content-between align-items-center">
                                    <p class="p-0">Current bid <span>589.00$</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="auction-card">
                            <div class="card-image">
                                <img src="/user/images/sample/recent-auction-5.png" alt="auction-card-img">

                                <div class="timer-wrapper">
                                    <div class="timer-inner"></div>
                                </div>
                            </div>
                            <div class="card-content">
                                <a href="/bid-detail" class="card-title">Arabic old style patterned teapot</a>
                                <div class="d-flex justify-content-between align-items-center">
                                    <p class="p-0">Current bid <span>589.00$</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="auction-card">
                            <div class="card-image">
                                <img src="/user/images/sample/recent-auction-6.png" alt="auction-card-img">

                                <div class="timer-wrapper">
                                    <div class="timer-inner"></div>
                                </div>
                            </div>
                            <div class="card-content">
                                <a href="/bid-detail" class="card-title">Vintage wall clock</a>
                                <div class="d-flex justify-content-between align-items-center">
                                    <p class="p-0">Current bid <span>589.00$</span></p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</main>

<th:block th:insert="~{user/inc/footer.html :: footer}"></th:block>
<th:block th:insert="~{user/inc/scripts.html :: scripts(all=true)}"></th:block>

<script th:inline="javascript">
    const myInfo = [[${#authentication.principal}]]['userEntity'] || [[${#authentication.principal}]]['attributes'] ;
</script>
<script src="/user/js/bid-detail-live.js"></script>

</body>

</html>