<!DOCTYPE html>
<html lang="en" id="theme" class="light" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="~{user/inc/head.html :: head(title='Browse Bid')}"></th:block>
</head>

<body>

<th:block th:insert="~{user/inc/header.html :: header}"></th:block>

<main id="main-content" class="position-relative">
    <div class="breadcrumb-main">
        <div class="container">
            <div class="d-flex flex-column flex-md-row align-items-center justify-content-between">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="home">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">일반 경매</li>
                </ol>
                <h1 class="breadcrumb-title">진행 중인 일반 경매 물품을 확인할 수 있습니다.</h1>
            </div>
        </div>
    </div>
    <section class="outer-gap">
        <div class="container">
            <div class="row gy-4">
                <div class="col-xl-3">
                    <button class="primary-btn d-xl-none mb-3" type="button" data-bs-toggle="collapse"
                            data-bs-target="#auction-filter-collapse" aria-expanded="false"
                            aria-controls="auction-filter-collapse">
                        filter product
                    </button>
                    <div class="collapse d-xl-block" id="auction-filter-collapse">
                        <div class="row gy-4">
                            <div class="col-sm-6 col-xl-12">
                                <div class="auction-wrapper p-3">
                                    <div class="auction-search">
                                        <input type="search" class="form-control" placeholder="Search">
                                        <button class=""><i class="fa-solid fa-magnifying-glass"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xl-12">
                                <div class="auction-wrapper p-3">
                                    <form id="sorterForm" th:action="@{/browse-bid.html}" method="GET">
                                    <select id="normalSorter" name="normalSorter" class="form-control bg-transparent border-0" onchange="document.getElementById('sorterForm').submit()">
                                        <option value="default" th:selected="${sorting == 'default'}">등록 순</option>
                                        <option value="priceAsc" th:selected="${sorting == 'priceAsc'}">낮은 경매가 순</option>
                                        <option value="priceDesc" th:selected="${sorting == 'priceDesc'}">높은 경매가 순</option>
                                    </select>
                                    </form>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="auction-wrapper">
                                    <h4 class="mb-2">이런 물품은 어떠세요?</h4>
                                    <div class="d-flex flex-column flex-lg-row flex-xl-column  gap-3" th:each="tuple, rand : ${itemList}">
                                        <a class="product-card" th:href="'http://localhost:8090/bid-detail/' + ${tuple.get(0, Integer)}" th:if="${randomIndexes.contains(rand.index)}">
                                            <img th:src="${tuple.get(2, String)}" alt="product-card-img" style="width: 60px; height: 60px;">
                                            <div>
                                                <h6 class="mb-1"></h6>
                                                <p><span class="fw-bold" th:text="${tuple.get(1, String)}"></span></p>
                                            </div>
                                        </a>
                                        <!--
                                        <div class="product-card">
                                            <img src="/user/images/sample/product-card-img-2.png" alt="product-card-img">
                                            <div>
                                                <h6 class="mb-1">Lorem ipsum labore dolor sit amet</h6>
                                                <p>Current bid <span class="fw-bold">$715.00</span></p>
                                            </div>
                                        </div>
                                        <div class="product-card">
                                            <img src="/user/images/sample/product-card-img-3.png" alt="product-card-img">
                                            <div>
                                                <h6 class="mb-1">Lorem ipsum labore dolor sit amet</h6>
                                                <p>Current bid <span class="fw-bold">$715.00</span></p>
                                            </div>
                                        </div>
                                        -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xl-12">
                                <div class="auction-wrapper">
                                    <h4 class="mb-3">Products</h4>
                                    <ul class="product-list">
                                        <li>
                                            <a href=""><span>전자제품</span> <span th:text=|(${itemStatusList.size()})|>(1333)</span> </a>
                                        </li>
                                        <li>
                                            <a href=""><span>스포츠</span> <span>(1557)</span> </a>
                                        </li>
                                        <li>
                                            <a href=""><span>패션</span> <span>(141)</span> </a>
                                        </li>
                                        <li>
                                            <a href=""><span>예술</span> <span>(597)</span> </a>
                                        </li>
                                        <li>
                                            <a href=""><span>자동차</span> <span>(18)</span> </a>
                                        </li>
                                        <li>
                                            <a href=""><span>미용</span> <span>(119)</span> </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xl-12">
                                <form method="get" action="electro">
                                <div class="auction-wrapper">
                                    <h4 class="mb-3">경매가 필터</h4>
                                    <div class="filter-price">
                                        <div class="price-field">
                                            <input type="range" min="10000" max="2000000" value="10000" step="10000" id="lower" name="lower">
                                            <input type="range" min="10000" max="2000000" value="2000000" step="10000" id="upper" name="upper">
                                        </div>
                                        <div class="price-wrap">
                                            <div class="price-wrap-1">
                                                <input id="one">
                                                <label for="one"></label>
                                            </div>
                                            <div class="price-wrap-2">
                                                <input id="two">
                                                <label for="two"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="primary-btn small-btn" type="submit">적용</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9">
                    <div class="auction-card-small">
                        <div class="row gy-4 justify-content-center">
                            <th:block th:if="${lower == null && upper == null}">
                            <div class="col-sm-6 col-lg-4" th:each="tuple, tupleLength : ${itemList}">
                                <div class="auction-card">
                                    <div class="card-image">
                                        <img th:src="${tuple.get(2, String)}" alt="auction-card-img">
                                        <div class="timer-wrapper">
                                            <div class="browseTime" style="text-align: center;">
                                                <span th:text="${#temporals.format(itemStatusList[tupleLength.index].get(1, T(java.time.LocalDateTime)), 'MM월 dd일 HH:mm:ss')}"></span> 종료
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-content">
                                        <a th:href="'http://localhost:8090/bid-detail/' + ${tuple.get(0, Integer)}" class="card-title" th:text="${tuple.get(1, String)}">Item</a>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <p class="p-0">현재 경매가 <b>￦</b><span th:text="${itemStatusList[tupleLength.index].get(2, String)}"></span></p>
                                            <button class="like-btn"><i class="fa-regular fa-heart"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination justify-content-center" th:utext="${sb}">
                                        <!--
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                        !-->
                                    </ul>
                                </nav>
                            </div>
                            </th:block>
                            <th:block th:if="${lower != null && upper != null}">
                                <div class="col-sm-6 col-lg-4" th:each="tuple, tupleLength : ${itemListRanged}">
                                    <div class="auction-card">
                                        <div class="card-image">
                                            <img th:src="${tuple.get(2, String)}" alt="auction-card-img">
                                            <div class="timer-wrapper">
                                                <div class="browseTime" style="text-align: center;">
                                                    <span th:text="${#temporals.format(itemStatusListRanged[tupleLength.index].get(1, T(java.time.LocalDateTime)), 'MM월 dd일 HH:mm:ss')}"></span> 종료
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-content">
                                            <a th:href="'http://localhost:8090/bid-detail/' + ${tuple.get(0, Integer)}" class="card-title" th:text="${tuple.get(1, String)}">Item</a>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <p class="p-0">현재 경매가 <b>￦</b><span th:text="${itemStatusListRanged[tupleLength.index].get(2, String)}"></span></p>
                                                <button class="like-btn"><i class="fa-regular fa-heart"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination justify-content-center" th:utext="${sb}">
                                            <!--
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                            !-->
                                        </ul>
                                    </nav>
                                </div>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="outer-gap auction-card-small">
        <div class="container">
            <h2 class="section-title">최근 경매</h2>
            <div class="swiper product-swiper px-0">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" th:each="tuple, tupleSize : ${recentList}">
                        <div class="auction-card">
                            <div class="card-image">
                                <img th:src="${tuple.get(2, String)}" alt="auction-card-img">
                                <div class="timer-wrapper">
                                    <div class="browseTime" style="text-align: center;">
                                        <span th:text="${#temporals.format(recentStatusList[tupleSize.index].get(1, T(java.time.LocalDateTime)), 'MM월 dd일 HH:mm:ss')}"></span> 종료
                                    </div>
                                </div>
                            </div>
                            <div class="card-content">
                                <a href="" class="card-title" th:text="${tuple.get(1, String)}"></a>
                                <div class="d-flex justify-content-between align-items-center">
                                    <p class="p-0">현재 경매가 ￦ <span th:text="${recentStatusList[tupleSize.index].get(2, String)}"></span></p>
                                    <button class="like-btn"><i class="fa-regular fa-heart"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--
                    <div class="swiper-slide">
                        <div class="auction-card">
                            <div class="card-image">
                                <img src="/user/images/sample/recent-auction-2.png" alt="auction-card-img">
                                <div class="timer-wrapper">
                                    <div class="timer-inner"></div>
                                </div>
                            </div>
                            <div class="card-content">
                                <a href="bid-detail" class="card-title">An antique vintage landline
                                    telephone</a>
                                <div class="d-flex justify-content-between align-items-center">
                                    <p class="p-0">Current bid <span>589.00$</span></p>
                                    <button class="like-btn"><i class="fa-regular fa-heart"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="auction-card">
                            <div class="card-image">
                                <img src="/user/images/sample/recent-auction-3.png" alt="auction-card-img">
                                <div class="timer-wrapper">
                                    <div class="timer-inner"></div>
                                </div>
                            </div>
                            <div class="card-content">
                                <a href="bid-detail" class="card-title">Old baseball bat with ball and
                                    weathered glove</a>
                                <div class="d-flex justify-content-between align-items-center">
                                    <p class="p-0">Current bid <span>589.00$</span></p>
                                    <button class="like-btn"><i class="fa-regular fa-heart"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="auction-card">
                            <div class="card-image">
                                <img src="/user/images/sample/recent-auction-4.png" alt="auction-card-img">
                                <div class="timer-wrapper">
                                    <div class="timer-inner"></div>
                                </div>
                            </div>
                            <div class="card-content">
                                <a href="bid-detail" class="card-title">Heritage french style home</a>
                                <div class="d-flex justify-content-between align-items-center">
                                    <p class="p-0">Current bid <span>589.00$</span></p>
                                    <button class="like-btn"><i class="fa-regular fa-heart"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="auction-card">
                            <div class="card-image">
                                <img src="/user/images/sample/recent-auction-5.png" alt="auction-card-img">

                                <div class="timer-wrapper">
                                    <div class="timer-inner"></div>
                                </div>
                            </div>
                            <div class="card-content">
                                <a href="bid-detail" class="card-title">Arabic old style patterned teapot</a>
                                <div class="d-flex justify-content-between align-items-center">
                                    <p class="p-0">Current bid <span>589.00$</span></p>
                                    <button class="like-btn"><i class="fa-regular fa-heart"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="auction-card">
                            <div class="card-image">
                                <img src="/user/images/sample/recent-auction-6.png" alt="auction-card-img">

                                <div class="timer-wrapper">
                                    <div class="timer-inner"></div>
                                </div>
                            </div>
                            <div class="card-content">
                                <a href="bid-detail" class="card-title">Vintage wall clock</a>
                                <div class="d-flex justify-content-between align-items-center">
                                    <p class="p-0">Current bid <span>589.00$</span></p>
                                    <button class="like-btn"><i class="fa-regular fa-heart"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    -->
                </div>
            </div>
        </div>
    </section>
</main>

<th:block th:insert="~{user/inc/footer.html :: footer}"></th:block>
<th:block th:insert="~{user/inc/scripts.html :: scripts(all=true)}"></th:block>
<script src="/user/js/browse-bid.js"></script>


</body>

</html>