<!DOCTYPE html>
<html lang="en" id="theme" class="light"
      xmlns:th="http://www.thymeleaf.org"
>


<head>
    <th:block th:insert="~{user/inc/head.html :: head(title='Dashboard')}"></th:block>
</head>


<body>
<th:block th:insert="~{user/inc/header.html :: header}"></th:block>

<main id="main-content" class="position-relative">
    <div class="breadcrumb-main">
        <div class="container">
            <div class="d-flex flex-column flex-md-row align-items-center justify-content-between">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="home">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                </ol>
                <h1 class="breadcrumb-title">Personal Dashboard</h1>
            </div>
        </div>
    </div>
    <div class="inner-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 pe-lg-0 position-relative">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center gap-3 mt-3 mb-4">
                            <img src="/user/images/sample/avatar-5.png" class="dashboard-avatar" alt="avatar">
                            <div>
                                <h5>Rozzy Nomad</h5>
                                <p>system@mail.com</p>
                            </div>
                        </div>

                        <button class="primary-btn dashboard-toggler d-block d-lg-none" id="sidebarMenuOpen">
                            <i class="fa-solid fa-bars"></i>
                        </button>
                    </div>
                    <div class="dashboard-sidebar">
                        <div class="sidebar-menu">
                            <ul>
                                <li class="active">
                                    <a href="javascript:void(0)">
                                        <i class="fa-solid fa-house"></i> <span>Dashboard</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="fa-solid fa-user"></i> <span>Personal Profile</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="fa-solid fa-gavel"></i> <span>My Bids</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="fa-solid fa-trophy"></i> <span>Winning Bids</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="fa-solid fa-bell"></i> <span>My Alerts</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="fa-solid fa-star"></i> <span>My Favorite</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 ps-md-0">
                    <div class="dashboard-data">
                        <div class="row g-3 mb-3 mb-md-5">
                            <div class="col-md-4">
                                <div class="card-wrapper">
                                    <div class="d-flex gap-4">
                                        <i class="fa-solid fa-gavel text-orange"></i>
                                        <div>
                                            <h3 class="fw-bold">80</h3>
                                            <p>Active Bids</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card-wrapper">
                                    <div class="d-flex gap-4">
                                        <i class="fa-solid fa-trophy text-orange"></i>
                                        <div>
                                            <h3 class="fw-bold">15</h3>
                                            <p>Item Won</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card-wrapper">
                                    <div class="d-flex gap-4">
                                        <i class="fa-solid fa-star text-orange"></i>
                                        <div>
                                            <h3 class="fw-bold">124</h3>
                                            <p>Favorite</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="bidding-detail-wrapper">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <button class="nav-link" id="description-tab" data-bs-toggle="tab"
                                                data-bs-target="#description" type="button" role="tab"
                                                aria-controls="description" aria-selected="true">Description
                                        </button>
                                    </li>
                                    <li class="nav-item">
                                        <button class="nav-link" id="bidHistory-tab" data-bs-toggle="tab"
                                                data-bs-target="#bidHistory" type="button" role="tab"
                                                aria-controls="bidHistory" aria-selected="false">Bid history
                                        </button>
                                    </li>
                                    <li class="nav-item">
                                        <button class="nav-link active" id="sellerInfo-tab" data-bs-toggle="tab"
                                                data-bs-target="#sellerInfo" type="button" role="tab"
                                                aria-controls="sellerInfo" aria-selected="false">Seller Info
                                        </button>
                                    </li>
                                </ul>
                                <div class="tab-content dashboard-bidding" id="productDetailTab">
                                    <div class="tab-pane fade" id="description" role="tabpanel"
                                         aria-labelledby="description-tab">
                                        <div class="bidding-history">
                                            <div class="table-responsive">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                        <tr>
                                                            <th>Item List</th>
                                                            <th>Last Bid</th>
                                                            <th>Opening Bid</th>
                                                            <th>Left Time</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td>
                                                                2015 Premium Watch
                                                            </td>
                                                            <td>$589.21</td>
                                                            <td>$159.87</td>
                                                            <td>
                                                                <div class="timer-inner"></div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                2015 Premium Watch
                                                            </td>
                                                            <td>$589.21</td>
                                                            <td>$159.87</td>
                                                            <td>
                                                                <div class="timer-inner"></div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                2015 Premium Watch
                                                            </td>
                                                            <td>$589.21</td>
                                                            <td>$159.87</td>
                                                            <td>
                                                                <div class="timer text-danger">0d : 0h : 00m :
                                                                    00s
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                2015 Premium Watch
                                                            </td>
                                                            <td>$589.21</td>
                                                            <td>$159.87</td>
                                                            <td>
                                                                <div class="timer text-danger">0d : 0h : 00m :
                                                                    00s
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="bidHistory" role="tabpanel"
                                         aria-labelledby="bidHistory-tab">
                                        <div class="bidding-history">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th>Item List</th>
                                                        <th>Last Bid</th>
                                                        <th>Opening Bid</th>
                                                        <th>Left Time</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>
                                                            2015 Premium Watch
                                                        </td>
                                                        <td>$589.21</td>
                                                        <td>$159.87</td>
                                                        <td>
                                                            <div class="timer-inner"></div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            2015 Premium Watch
                                                        </td>
                                                        <td>$589.21</td>
                                                        <td>$159.87</td>
                                                        <td>
                                                            <div class="timer-inner"></div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            2015 Premium Watch
                                                        </td>
                                                        <td>$589.21</td>
                                                        <td>$159.87</td>
                                                        <td>
                                                            <div class="timer text-danger">0d : 0h : 00m : 00s
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            2015 Premium Watch
                                                        </td>
                                                        <td>$589.21</td>
                                                        <td>$159.87</td>
                                                        <td>
                                                            <div class="timer text-danger">0d : 0h : 00m : 00s
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade show active" id="sellerInfo" role="tabpanel"
                                         aria-labelledby="sellerInfo-tab">
                                        <div class="bidding-history">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th>Item List</th>
                                                        <th>Last Bid</th>
                                                        <th>Opening Bid</th>
                                                        <th>Left Time</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>
                                                            2015 Premium Watch
                                                        </td>
                                                        <td>$589.21</td>
                                                        <td>$159.87</td>
                                                        <td>
                                                            <div class="timer-inner"></div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            2015 Premium Watch
                                                        </td>
                                                        <td>$589.21</td>
                                                        <td>$159.87</td>
                                                        <td>
                                                            <div class="timer-inner"></div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            2015 Premium Watch
                                                        </td>
                                                        <td>$589.21</td>
                                                        <td>$159.87</td>
                                                        <td>
                                                            <div class="timer text-danger">0d : 0h : 00m : 00s
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            2015 Premium Watch
                                                        </td>
                                                        <td>$589.21</td>
                                                        <td>$159.87</td>
                                                        <td>
                                                            <div class="timer text-danger">0d : 0h : 00m : 00s
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<th:block th:insert="~{user/inc/footer.html :: footer}"></th:block>
<th:block th:insert="~{user/inc/scripts.html :: scripts(jquery=true, bootstrap=true, custom=true)}"></th:block>
</body>

</html>