<!DOCTYPE html>
<html lang="en" id="theme" class="light"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
    <th:block th:insert="~{user/inc/head.html :: head(title='Payment')}"></th:block>
</head>

<body>
<th:block th:insert="~{user/inc/header.html :: header}"></th:block>

<main id="main-content" class="position-relative">
    <div class="breadcrumb-main">
        <div class="container">
            <div class="d-flex flex-column flex-md-row align-items-center justify-content-between">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="home">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">결제하기</li>
                </ol>
                <h1 class="breadcrumb-title">상품 상세 & 더보기</h1>
            </div>
        </div>
    </div>
    <div class="inner-gap">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-8">
                    <div class="payment-wrapper">
                        <div class="accordion" id="paymentAccordion">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="wallet">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseWallet" aria-expanded="true"
                                            aria-controls="collapseWallet">
                                        <span>지갑</span>
                                        <span class="acc-para">안전한 온라인 결제. 신용카드가 필요합니다. 페이팔은 필요하지 않습니다.
                                            </span>
                                    </button>
                                </h2>
                                <div id="collapseWallet" class="accordion-collapse collapse"
                                     aria-labelledby="wallet" data-bs-parent="#paymentAccordion">
                                    <div class="accordion-body">
                                        <p>지갑에 요금을 충전하고 거래하세요. 암호화로 보호받습니다!
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="creditCard">
                                    <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseCC" aria-expanded="false"
                                            aria-controls="collapseCC">
                                        <span>신용카드</span>
                                        <span class="acc-para">안전한 온라인 결제. 신용카드가 필요합니다. 페이팔은 필요하지 않습니다. 신용카드 및 은행계좌를 이용해 안전하게 송금하세요. <p>(비자, 마에스트로, 아메리칸 익스프레스)</p></span>
                                    </button>
                                </h2>
                                <div id="collapseCC" class="accordion-collapse collapse show"
                                     aria-labelledby="creditCard" data-bs-parent="#paymentAccordion">
                                    <div class="accordion-body">
                                        <div class="payment-card-img d-flex gap-2">
                                            <i class="fa-regular fa-credit-card fs-2"></i>
                                            <i class="fa-solid fa-money-check fs-2"></i>
                                            <i class="fa-regular fa-credit-card fs-2"></i>
                                        </div>
                                        <hr class="my-4">
                                        <div class="payment-card-detail">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label>신용카드 번호</label>
                                                        <input type="text" id="cardNumber" class="form-control"
                                                               placeholder="0000 0000 0000 0000">
                                                        <span class="input-checker" id="CardNumberChecker"><i
                                                                class="fa-regular fa-circle-check"></i></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>CVV</label>
                                                        <input type="text" id="cvv" class="form-control">
                                                        <span class="input-checker"><i
                                                                class="fa-regular fa-credit-card"></i></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>만료일자</label>
                                                        <input type="date" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group mb-0">
                                                        <label>카드 소유주</label>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="netBanking">
                                    <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseNetBanking"
                                            aria-expanded="false" aria-controls="collapseNetBanking">
                                        <span>인터넷 뱅킹</span>
                                        <span class="acc-para">안전한 온라인 결제. 신용카드가 필요합니다. 페이팔은 필요하지 않습니다.
                                            </span>
                                    </button>
                                </h2>
                                <div id="collapseNetBanking" class="accordion-collapse collapse"
                                     aria-labelledby="netBanking" data-bs-parent="#paymentAccordion">
                                    <div class="accordion-body">
                                        <p>안전한 온라인 결제. 인터넷 뱅킹을 통해 안전하게 송금하고 물건을 받아보세요!
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row gy-4">
                        <div class="col-lg-12">
                            <div class="product-card-wrapper">
                                <h5 class="fw-bold line-clamp line-clamp-2">[[${item.itemName}]]</h5>
                                <br>
                                <div class="d-flex align-items-center gap-2 mb-2">
                                    <img th:src="${item.itemMainImagePath}" alt="경매품 이미지" class="product-img">
                                </div>
                                <h6 class="d-flex justify-content-between py-2"><span class="fw-normal">결제 금액</span>
                                    <span class="fw-semibold">[[${@formatter.price(item.bidPrice)}]]원</span></h6>
                                <h6 class="d-flex justify-content-between py-2"><span class="fw-normal">배송요금</span>
                                    <span id="deliveryFee" class="fw-semibold"></span></h6>
                                <h6 class="d-flex justify-content-between py-2"><span class="fw-normal">수수료</span>
                                    <span id="serviceFee" class="fw-semibold"></span>
                                </h6>
                                <h5 class="d-flex justify-content-between pt-2 pt-md-3 fw-bold border-top">
                                    <span>총계</span>
                                    <span id="totalPrice">106,000원</span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <a class="payment-btn">지금 결제하기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<th:block th:insert="~{user/inc/footer.html :: footer}"></th:block>
<th:block
        th:insert="~{user/inc/scripts.html :: scripts(jquery=true, bootstrap=true, custom=true, util=true)}"></th:block>

<script th:inline="javascript">
    const checkoutData = JSON.parse(localStorage.getItem('checkoutData'));

    //FOR TEST
    // const checkoutData = {
    //     firstName: '지우',
    //     lastName: '박',
    //     email: 'park789@gmail.com',
    //     tel: '010-3456-7890',
    //     address: '위례광장로 280',
    //     detailAddress: '304동 1004호',
    //     zipcode: '150286',
    //     district: '송파',
    //     city: '서울',
    //     country: 'KR',
    //     deliveryMethod: 1
    // };

    const urlParams = new URLSearchParams(window.location.search);
    const itemId = urlParams.get('itemId');
    const winningBidId = urlParams.get('winningBidId');
    const auctionType = urlParams.get('auctionType');

    const deliveryMethods = [[${deliveryMethods}]];
    const deliveryMethod = deliveryMethods.find(deliveryMethod => deliveryMethod.id === checkoutData.deliveryMethod);

    const item = [[${item}]];
    const serviceFee = item.bidPrice * 0.1;
    const totalPrice = item.bidPrice + deliveryMethod.price + serviceFee;
    const now = new Date().toISOString();

    $('#deliveryFee').text(formatPrice(deliveryMethod.price) + "원");
    $('#serviceFee').text(formatPrice(serviceFee.toFixed(0)) + "원");
    $('#totalPrice').text(formatPrice(totalPrice.toFixed(0)) + "원");

    const orderInfo = {
        ...checkoutData,
        finalPrice: totalPrice,
        createDate: now,
        winningBidId: Number(winningBidId),
        deliveryMethodId: checkoutData.deliveryMethod
    }

    const payment = {
        createDate: now,
        status: '완료',
        method: '카드',
        paymentPrice: totalPrice,
        depositPrice: 0,
        depositBank: '우리은행',
        depositName: checkoutData.lastName + checkoutData.firstName,
    };

    const formData = new FormData();
    formData.append('orderInfo', new Blob([JSON.stringify(orderInfo)], {type: 'application/json'}));
    formData.append('payment', new Blob([JSON.stringify(payment)], {type: 'application/json'}));

    $('.payment-btn').click(() => {
        $.ajax({
            url: '/auction/order-ok',
            type: 'POST',
            processData: false,
            contentType: false,
            data: formData,
            success: function (response) {
                alert(response.message);
                const data = JSON.parse(response.data);
                localStorage.removeItem('checkoutData');
                location.href = "/auction/thankyou?orderId=" + data.id + "&auctionType=" + auctionType;
            },
            error: function (xhr, status, error) {
                console.error("Status:", status);
                console.error("Error:", error);
                console.error("XHR:", xhr);
                let errorMessage = 'ERROR: ';
                if (xhr.responseText) {
                    try {
                        const response = JSON.parse(xhr.responseText);
                        errorMessage = response.message || errorMessage;
                    } catch (e) {
                        console.error("Response parsing error:", e);
                    }
                }
                alert(errorMessage);
            }
        });
    });

    const count = [[${winningBidCount}]];

    if (!count) {
        alert("해당 경매품에 대한 낙찰 정보가 없습니다.");
        location.href = "/";
    }
</script>
<script src="/user/js/payment-card.js"></script>


</body>

</html>