@font-face {
    font-family: 'Work Sans';
    font-weight: 400;
    src: url('../../fonts/WorkSans-Regular.ttf');
}
@font-face {
    font-family: 'Work Sans';
    font-weight: 500;
    src: url('../../fonts/WorkSans-SemiBold.ttf');
}
@font-face {
    font-family: 'Work Sans';
    font-weight: 600;
    src: url('../../fonts/WorkSans-SemiBold.ttf');
}
@font-face {
    font-family: 'Work Sans';
    font-weight: 700;
    src: url('../../fonts/WorkSans-Bold.ttf');
}
